body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}
/* Header */
.header{
  background: black;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}
.header .container-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.header .container-content figure{
  margin: 10px 0;
  padding: 0;
}
.header .container-content figure img{
  height: 30px;
}
.header .container-content ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.header .container-content ul li {
  padding-right: 30px;
}
.header .container-content ul li:last-child{
  padding-right: 0;
}
.header .container-content ul li a{
  color: white;
  text-decoration: none;
}
/* Section slider */
.section__slider{
  background-image: url('./images/slider.gif');
  background-size: cover;
  background-position: bottom;
}
.section__slider .container-content{
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: space-between;
  align-items: center;
}
.section__slider .container-content img{
  width:40%;
  height: 30%;
  justify-self:center;
}
.section__slider .container-content h1{
  color: white;
  font-weight: lighter;
  margin-right: 50px;
}
/* Section  */
.section__main-panel{
  background-color: #f3f3f5;
  padding-bottom: 140px;
}
.section__main-panel .container-content{
  display: flex;
  align-items: baseline;
}
.section__main-panel .container-content .main-panel:last-child{
  margin-left: 10px;
}
.section__main-panel .container-content .main-panel {
  margin-right: 10px;
}
.section__main-panel .container-content .main-panel .main-panel-header{
  background: #c01818;
  text-align: center;
  padding: 20px;
  margin-top: -60px;
}
.section__main-panel .container-content .main-panel:last-child .main-panel-header{
  background: #333;
}
.section__main-panel .container-content .main-panel .main-panel-header a{
  color: white;
  font-size: 24px;
  font-weight: lighter;
  text-decoration: none;
}
.section__main-panel .container-content .main-panel .main-panel-header a:hover{
  border-bottom: 3px solid white;
}
.section__main-panel .container-content .main-panel{
  width: 50%;
}
.section__main-panel .container-content .main-panel a{
  font-size: 18px;
  line-height: 1.7;
  color: black;
  text-decoration: none;
}
.section__main-panel .container-content .main-panel a:hover{
  border-bottom: 1px solid black;
}
/* Section Resume */
.section__resume{
  background-image: url('./images/2.jpg');
 background-color:#333333;
  padding: 100px;
}
.section__resume .container-content{
  text-align: center;
  color: white;
  font-weight: lighter;
}
/* Section Cluster */
.section__cluster .container-content h3{
  text-align: center;
  font-size: 36px;
  font-weight: lighter;
}
.section__cluster .container-content .cluster{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 1fr;
}
.section__cluster .container-content .cluster .article span{
  font-size: 24px;
  font-weight: lighter;
}
.section__cluster .container-content .cluster .article a{
  font-size: 18px;
  font-weight: lighter;
  color: #c01818;
  border-bottom: 2px solid #c01818;
  text-decoration: none;
}
/* Section Blog */
.section__blog{
  margin: 50px 0px;
}
.section__blog  .container-content .cluster{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(1, 70%);
    grid-auto-rows: auto;
    justify-content: center;
}
.section__blog  .container-content .cluster .article span{
  font-size: 24px;
  font-weight: lighter;
}
.section__blog  .container-content .cluster .article a{
  font-size: 18px;
  font-weight: lighter;
  color: #c01818;
  border-bottom: 2px solid #c01818;
  text-decoration: none;
}
/* Section About */
.section__about{
  background-image: url('./images/1.png');
  padding: 50px;
  margin-top: 130px;
}
.section__about .container-content{
  display: flex;
  color: white;
}
.section__about .container-content .qs{
  width: 40%;
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.section__about .container-content .qs span{
  width: 100%;
  display: inline-grid;
  margin-bottom: 10px;
  font-size: 24px;
}
.section__about .container-content .qs button{
  padding: 10px 20px;
  font-size: 15px;
  border: 1px solid white;
  background: none;
  color: white;
}
.section__about .container-content .desc{
  width: 70%;
}
/* Footer */
.footer{
  background: #333333;
  color: white;
  text-align: center;
}
.footer p{
  padding: 140px;
}
/* Mobil Menu */
.overlay {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
overflow-x: hidden;
transition: 0.5s;
}
.overlay-content {
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;
}
.overlay a {
padding: 8px;
text-decoration: none;
font-size: 36px;
color: #818181;
display: block;
transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
}
.container-btn{
  font-size: 19px;
  font-weight: lighter;
  cursor:pointer;
  color:white;
  padding: 15px;
}
.btn-nav{
  margin-top: -200px;
  position: sticky;
  position: -webkit-sticky;
  padding: 50px 0;
  bottom: 0;
  display: none;
}
.open-btn,
.close-btn{
  background: black;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: 10%;
  right: 0;
  z-index: 100;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}

/* Repetidos */
.container-content{
  padding: 20px 130px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.hr-line{
  width: 30%;
  height: 7px;
  margin-bottom: 20px;
  background: #c01818;
}
.title-h1{
  font-size: 36px;
  font-weight: lighter;
}
.title-h2{
  font-size: 25px;
  font-weight: lighter;
}
.title-h3{
  font-size: 20px;
  font-weight: lighter;
}
p{
  font-size: 18px;
  line-height: 1.7;
  font-weight: lighter;
}

/* resposive */
@media only screen and (min-width: 2000px) {
  .container-content{
       width: 960px;
  }
}
@media only screen and (max-width: 848px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  color: white;

}
.overlay a{
  color: white;

}
  p{
    font-size: 15px;
  }
  .btn-nav {
    display: block;
  }
  .container-content{
    padding: 10px 40px;
  }
  .header .container-content ul{
  display: none;
  }
  .header .container-content{
    justify-content: center;
  }
  .section__slider .container-content{
    display: block;
  }
  .section__slider .container-content h1{
    width: 100%;
    font-size: 24px;
  }
  .section__slider .container-content img{
    display: none;
  }
  .section__main-panel .container-content{
    display: block;
  }
  .section__main-panel .container-content .main-panel{
   width: 100%;
   margin: 0;
   padding: 0;
  }
  .section__main-panel .container-content .main-panel:last-child{
   margin: 0;
    margin-top: 40px;
  }
  .section__main-panel .container-content .main-panel .main-panel-header{
    margin: 0;
  }
  .section__main-panel .container-content .main-panel a{
    font-size: 15px;
  }
  .section__main-panel .container-content .main-panel .main-panel-header a{
    font-size: 18px;
  }
  .resumen{
    padding: 100px 0;
  }

.section__cluster .container-content .cluster{
  grid-template-columns: repeat(1, 100%);
  grid-gap: 65px;
}
.section__blog  .container-content .cluster{
  grid-template-columns: repeat(1, 100%);

}
/* .section__cluster .container-content  h1{
  font-size: 30px;
  font-weight: lighter;
}
.section__blog  .container-content  h1{
  font-size: 30px;
}
.section__blog  .container-content  h2{
  font-size: 25px;

}
.section__blog  .container-content  h3{
  font-size: 30px;
  font-weight: lighter;
} */
.about{
  padding: 50px 5px;
}
.section__about .container-content{
  display: block;
  text-align: center;
}
.section__about .container-content .qs{
  width: 100%;
  padding: 0;
}
.section__about .container-content .desc{
  width: 100%;
}
.footer p{
  padding: 0;
}
}
